
<nav th:fragment="nav" class="navbar navbar-expand-md navbar-light bg-light mb-3 p-1"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand m-1" href="#">게시판 프로젝트!</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">홈</a></li>
            <li class="nav-item"><a class="nav-link" href="/articles">게시판</a></li>
        </ul>
        <ul class="navbar-nav m-lg-auto">
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/user/register">회원가입</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/user/info">개인 정보</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
        </ul>
    </div>
</nav>
