<div th:fragment="_myComment">
    <h5>내 댓글</h5>
    <div>
        <table class="table">
            <thead class="table-header">
            <th>ID</th>
            <th>작성 내용</th>
            <th>생성 일자</th>
            <th>수정 일자</th>
            <th>삭제</th>
            </thead>
            <tbody>
            <tr th:each="myComment : ${myComments}">
                <td th:text="${myComment.id}"></td>
                <td th:text="${myComment.content}"></td>
                <td th:text="${#temporals.format(myComment.createdAt, 'yyyy-MM-dd, HH:mm')}"></td>
                <td th:text="${#temporals.format(myComment.updatedAt, 'yyyy-MM-dd, HH:mm')}"></td>
                <td>
                    <form th:action="@{/comments/{commentId}(commentId=${myComment.id})}" th:method="delete">
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    전체 댓글 : [[${myCommentTotalItems}]] - 페이지 : [[${myCommentCurrentPage}]] of [[${myCommentTotalPages}]]
    &nbsp; - &nbsp;
    <a th:if="${myCommentCurrentPage > 1}" th:href="@{info?commentPage=1 + '&articlePage='+${myArticleCurrentPage}}">맨 앞으로</a>
    <span th:unless="${myCommentCurrentPage > 1}"> 맨 앞으로 </span>

    <a th:if="${myCommentCurrentPage > 1}" th:href="@{'info?commentPage=' + ${myCommentCurrentPage - 1}+ '&articlePage='+${myArticleCurrentPage}}"> 이전 </a>
    <span th:unless="${myCommentCurrentPage > 1}">이전</span>

    <span th:each="i : ${#numbers.sequence(1, myCommentTotalPages)}">
                        <a th:if="${i != myCommentCurrentPage }" th:href="@{'info?commentPage=' + ${i}+ '&articlePage='+${myArticleCurrentPage}}">[[${i}]]</a>
                        <span th:unless="${i != myCommentCurrentPage}" >[[${i}]]</span>
                        &nbsp;&nbsp;
                    </span>

    <a th:if="${myCommentCurrentPage < myCommentTotalPages}" th:href="@{'info?commentPage=' + ${myCommentCurrentPage + 1}+ '&articlePage='+${myArticleCurrentPage}}">다음</a>
    <span th:unless="${myCommentCurrentPage < myCommentTotalPages}">다음</span>
    <a th:if="${myCommentCurrentPage < myCommentTotalPages}" th:href="@{'info?commentPage=' + ${myCommentTotalPages}+ '&articlePage='+${myArticleCurrentPage}}">마지막</a>
    <span th:unless="${myCommentCurrentPage < myCommentTotalPages}">마지막</span>
</div>