<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head::head}?: ~{}"></head>
<body>
<div class="contianer">
    <h1>비밀번호 수정 페이지</h1>

    <form th:action="@{/user/updatePassword}" th:method="put" onsubmit="return validatePasswords()">
        <table class="table">
            <tr>
                <th>현재 비밀번호</th>
                <td><input type="password" th:name="oldPassword" required></td>
                <td th:if="${isWrong}">현재 비밀번호가 틀렸습니다.</td>
            </tr>
            <tr>
                <th>변경할 비밀번호</th>
                <td><input id="pw1" type="password" th:name="password" required></td>
            </tr>
            <tr>
                <th>변경할 비밀번호 재입력</th>
                <td><input id="pw2" type="password" required></td>
            </tr>
        </table>
        <button id="changePasswordBtn" type="submit" class="btn btn-primary" >변경하기</button>
    </form>
    <a class="btn btn-primary" href="/user/info">뒤로 가기</a>
</div>

<script>
    function validatePasswords(){
        var pw1 = document.getElementById('pw1').value;
        var pw2 = document.getElementById('pw2').value;
        if(pw1 != pw2){
            alert('변경할 비밀번호가 일치하지 않습니다.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>